<div class='col-md-2'></div>

<div class='col-md-8'>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Important</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>All fields are required!</li>
        <li>The company name & email address must be <strong>unique</strong>.</li>
        <li><u>Password must be a minimum of 8 characters</u>.</li>
        <li>Welcome Message can be updated in company settings.</li>
      </ul>
    </div>
  </div>

  <div class="well">
    <legend>Add a New Company</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-8">
        <input class="form-control" type="text" name="company-name"></input>
        <p><em>Enter the company's name</em>.
        <br />A SMS Number will be provisioned on submission</p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Identifier</label>
      <div class="col-md-8">
        <input class="form-control" type="text" name="company-short-name"></input>
        <p><em>Enter the company's short name or identifier</em>.
        <br />This value is used in the link hash as the company identifier</p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <legend>Company Settings</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Welcome Message</label>
      <div class="col-md-8">
        <textarea class="form-control" rows="4" name="autoresponder" placeholder="Enter the message employees will receive when they register in the mobile directory. Variables are available to insert dynamic values. Please be mindful of the 160 character message limit."></textarea>
        <small><em>160 / 160 Characters Left</em></small>
        <p>
          <code>
            <br />Insert the welcome link with: [link]
            <br />Insert the company name with: [company]
            <br />Insert the employee's first name with: [name]
          </code>
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Welcome Link</label>
      <div class="col-md-8">
        <div class="input-group">
          <input type="text" class="form-control" name="autoresponder-link" placeholder="www.example.com">
          <span class="input-group-addon">/hash</span>
        </div>
        <small>Enter the root of the welcome link URL, a unique hash will be appended automatically for each employee</small>
      </div>
      <div class="col-md-2"></div>
    </div>

    <legend>Add a Company User</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-8">
        <input class="form-control" type="text" name="users-name" placeholder="The person's name"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Email</label>
      <div class="col-md-8">
        <input class="form-control" type="email" name="email"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label for"password" class="col-md-2 control-label">Password</label>
      <div class="col-md-8">
        <input class="form-control" type="password" name="password" placeholder="At least 8 characters"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button type="submit" class="btn btn-lg btn-danger btn-block"><span class="glyphicon glyphicon-flash"></span> Create Company</button>
      </div>
      <div class="col-md-2"><span class="help-block"><br />or, <a class="cancel" href="#">cancel</a></span></div>
    </div>
  </div>
</div>

<div class='col-md-2'></div>
