<div class="panel-body">
<h4>
<a href='#' class="admin-return pull-right"> Back to Companies &rarr; </a>
  You are acting on behalf of <u><%= bridgelyApp.session.get('company').name %></u>
</h4>
</div>