<div class="admin-companies">
  <div>
    <button type="button" class="btn btn-company btn-lg btn-block btn-danger">Add a New Company</button>
  </div>
  <div><p></p></div>
  <div class="well companies list-group">
    <% _(this.collection.models).each(function(model) { %>
      <a class="company list-group-item" id="company-<%= model.get('id') %>" href="#">
        <p class="list-group-item-text pull-right"><%= model.get('settings').account_phone_number %></p>
        <h4 class="list-group-item-heading"><%= model.get('name') %></h4>
      </a>
    <% }) %>
  </div>
</div>
