<div class='col-md-2'></div>

<div class='col-md-8'>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Important</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>All fields are required!</li>
        <li>The company name & email address must be <strong>unique</strong>.</li>
        <li><u>Password must be a minimum of 8 characters</u>.</li>
        <li>Autoresponder can be updated in company settings.</li>
      </ul>
    </div>
  </div>

  <div class="well">
    <legend>Add a New Company</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-8">
        <input class="form-control" type="text" name="company-name"></input>
        <p><em>Enter the company's name</em>.
        <br />Twilio SMS Number will be provisioned on submission</p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <legend>Company Settings</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Autoresponder</label>
      <div class="col-md-8">
        <textarea class="form-control" rows="3" name="autoresponder"></textarea>
        <small><em>160 / 160 Characters Left</em></small>
  <!--       <code>
          <p>Insert a Bridgely link with {{@link}}</p>
          <p>Insert company name with {{@company}}</p>
          <p>Insert employee's first name with {{@employee}}</p>
        </code> -->

      </div>
      <div class="col-md-2"></div>
    </div>

    <legend>Add a Company User</legend>

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-8">
        <input class="form-control" type="text" name="users-name"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Email</label>
      <div class="col-md-8">
        <input class="form-control" type="email" name="email"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <label for"password" class="col-md-2 control-label">Password</label>
      <div class="col-md-8">
        <input class="form-control" type="password" name="password"></input>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button type="submit" class="btn btn-lg btn-danger btn-block"><span class="glyphicon glyphicon-flash"></span> Create Company</button>
      </div>
      <div class="col-md-2"><span class="help-block"><br />or, <a href="#">cancel</a></span></div>
    </div>
  </div>
</div>

<div class='col-md-2'></div>
