<div class="admin-companies">
    <h2>Companies Directory</h2>
    <div class="well companies list-group">

    <% this.collection.each(function(model) { %>
      <a class="company list-group-item" id='companies-<%= model.id %>' href="#">
        <p class="list-group-item-text pull-right"><%= model.get('settings').account_phone_number %></p>
        <h4 class="list-group-item-heading"><%= model.get('name') %></h4>
      </a>
    <% }) %>

  </div>
  <div><p></p></div>
  <div>
    <button type="button" class="btn btn-company btn-lg btn-block btn-danger"><span class="glyphicon glyphicon-flash"></span> Add a New Company</button>
  </div>
</div>
