<section id="bridgely-app" class="container">
  <div id="topbar"></div>

  <div id="content"> <!-- Bridgely loads views here -->

    <div class="lead">
      <div class="hero-unit">
          <h1>Welcome to <strong>Bridgely</strong></h1>
          Please login to proceed.
      </div>
    </div>

  </div>

</section>
