<section id="bridgely-app" class="container">
  <div id="content"> <!-- Bridgely loads views here -->

    <div class="lead">
      <div class="hero-unit">
          <img src="http://corp.forusall.com/images/preloader52.gif" />
      </div>
    </div>

  </div>
</section>