<h4 class="pull-right"><%= this.model.get('phone') %></h4>
<h2><span class="label label-default"><%= this.model.get('name') %></span></h2>
<span class="tags"></span>
<p></p>
<div class="messages">
  <div class="preloader">
    <img src="http://corp.forusall.com/images/preloader52.gif" />
  </div>
</div>
<h5><a href=# class=back>&larr; Back to directory</a></h5>