<div>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-send"></span> Send to All
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a id="sms-all" href="#">Send a Message</a></li>
      <li><a id="question-all" href="#">Ask a Question</a></li>
    </ul>
  </div>

  <h2>
    <% if(bridgelyApp.session.get('company')) { %>
    <%= bridgelyApp.session.get('company').name + '' %>
    <% } %>
    Mobile Directory
  </h2>

</div>

<div class=backgrid-container>
   <div class="btn-group pull-left">
    <button type="button" class="btn btn-primary dropdown-toggle send-selected" data-toggle="dropdown" disabled>
      <span class="glyphicon glyphicon-check"></span> Send to Selected
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a id="sms-selected" href="#">Send a Message</a></li>
      <li><a id="question-selected" href="#">Ask a Question</a></li>
    </ul>
  </div>
  <div class="backgrid-footer">
  </div>
</div>