<h4 class="pull-right"><%= this.model.get('phone') %></h4>
<h2><%= this.model.get('name') %> <span class="label label-default">Employee Record</span></h2>

<span class="tags"></span>
<p></p>
<div class="messages"></div>