<div>
  <h2>Message History <% if (bridgelyApp.session.get('company')) { %>
  <%=' for ' + bridgelyApp.session.get('company').name %>
  <% } %>
  </h2>
<!--   <ul id="history-pills" class="nav nav-pills">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Outbound</a></li>
    <li><a href="#">Inbound</a></li>
  </ul> -->
</div>

<div class=backgrid-container>

  <div class="backgrid-footer"></div>

</div>