<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <a class="navbar-brand" href="#">Bridgely</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>

<% if (bridgelyApp.session.authenticated()) { %>
    <li><a href="#companies">Companies*</a></li>
    <li><a href="#directory"><span class="glyphicon glyphicon-user"></span> Directory</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> Messages <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#message"><span class="glyphicon glyphicon-send"></span> Send a Message</a></li>
        <li><a href="#question"><span class="glyphicon glyphicon-question-sign"></span> Ask a Question</a></li>
        <li class="divider"></li>
        <li><a href="#message-history"><span class="glyphicon glyphicon-transfer"></span> Message History</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, <%= bridgelyApp.session.get('name').split(' ')[0] %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><span class="label label-default"><%= bridgelyApp.session.get('company') && bridgelyApp.session.get('company').name %></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Company</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </li>
  </ul>
<% } else { %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#login" id="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>

<% } %>
</div><!-- /.navbar-collapse -->
