<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <a class="navbar-brand" href="#">Bridgely</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div>
  <ul class="nav navbar-nav">
    <li><a href="#" class="home">Home</a></li>

<% if (bridgelyApp.session.authenticated()) { %>
    <li><a href="#" class="directory"><span class="glyphicon glyphicon-user"></span> Directory</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> Messages <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#" class="new-message"><span class="glyphicon glyphicon-send"></span> Send a Message</a></li>
        <li><a href="#" class="new-question"><span class="glyphicon glyphicon-question-sign"></span> Ask a Question</a></li>
        <li class="divider"></li>
        <li><a href="#" class="message-history"><span class="glyphicon glyphicon-transfer"></span> Message History</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, <%= bridgelyApp.session.get('name').split(' ')[0] %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if( bridgelyApp.session.get('admin') === true ) { %>
        <li class="dropdown-header">ADMIN PAGES</li>
        <li><a class="admin-companies" href="#"><span class="glyphicon glyphicon-tower"></span> Companies</a></li>
        <li><a class="admin-users" href="#"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        <li class="divider"></li>
        <% } %>

        <% if( bridgelyApp.session.get('company') ) { %>
        <li class="dropdown-header">
          <h5><span class="label label-default">
            <%= bridgelyApp.session.get('company').name %>
          </span></h5>
        </li>
        <li><a href="#" class="account"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li class="divider"></li>
        <% } %>

        <li><a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </li>
  </ul>
<% } else { %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>

<% } %>
</div><!-- /.navbar-collapse -->
