<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Bridgely</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#companies">Companies*</a></li>
    <li><a href="#directory">Directory</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#send-message">Send a Message</a></li>
        <li><a href="#send-question">Ask a Question</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#messages">Message History</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, Mr. Johnson <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><span class="label label-default">The White House</span></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Company</a></li>
        <li class="divider"></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
