<div class='col-md-2'></div>

<div class='well col-md-8'>
  <legend>Send a SMS Message</legend>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">From</label>
    <div class="col-md-8">
      <p class="form-control-static input-lg">

        <%  if( bridgelyApp.session.get('company') && bridgelyApp.session.get('company').settings.account_phone_number ) { %>
            <%= bridgelyApp.session.get('company').settings.account_phone_number %>
        <% } else { %>
            <strong>Not yet assigned</strong>
        <% } %>

      </p>
      <p><em>Your SMS Number</em></p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">To</label>
    <div class="col-md-8">
      <p class="form-control-static input-lg">
        <% if( bridgelyApp.session.get('new_message_employee_ids') !== 'all' ) { %>
          <%= bridgelyApp.session.get('new_message_employee_ids').length %> Selected Employees
        <% } else { %>
          Whole Mobile Directory
        <% } %>
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">Message</label>
    <div class="col-md-8">
      <textarea class="form-control input-lg" maxlength="160" rows="4"></textarea>
      <span class="help-block"><span id="chars">160</span> / 160 characters remaining</span>
      <code>
        <br />Insert the welcome link with: [link]
        <br />Insert the employee's first name with: [name]
      </code>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button type="submit" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-send"></span> Send SMS</button>
    </div>
    <div class="col-md-2"><span class="help-block"><br />or, <a class="cancel" href="#">cancel</a></span></div>
  </div>

</div>

<div class='col-md-2'></div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="success" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="success">Success!</h2>
      </div>
      <div class="modal-body">
        <h3>Your message has been queued up and will begin sending momentarily</h3>
        <br />
        <p>Please wait at least 6 hours before sending additional messages or questions so your queue can be processed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" id="success-button">Continue</button>
        <p class="pull-left"><small><em>Allow up to 4 hours for all messages to be delivered.</em></small></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

