<div class='col-md-2'></div>

<div class='well col-md-8'>
  <legend>Send a SMS Message</legend>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">From</label>
    <div class="col-md-8">
      <p class="form-control-static">

      <%  if( bridgelyApp.session.get('company').settings.account_phone_number ) { %>
            <%= bridgelyApp.session.get('company').settings.account_phone_number %>
       <% } else { %>
            <strong>Not yet assigned</strong>
       <% } %>

      </p>
      <p><small><em>Your Twillio SMS Number</em></small></p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">To</label>
    <div class="col-md-8">
      <p class="form-control-static">Whole Mobile Directory / Selected Employees</p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <label class="col-md-2 control-label">Question</label>
    <div class="col-md-8">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="sendAsLabel" value="label" checked>
          Save responses to this question as labels
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="sendAsTag" value="tag">
          Save responses as a tag&mdash;with the label:
            <label class="sr-only" for="questionLabel">Label</label>
            <input type="text" class="form-control" id="questionLabel" placeholder="Quesiton Label">
        </label>
      </div>
      <textarea class="form-control" rows="3"></textarea>
      <span class="help-block">160 / 160 characters remaining</span>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="form-group clearfix">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button type="button" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-send"></span> Send SMS Question</button>
    </div>
    <div class="col-md-2"><span class="help-block"><br />or, <a href="#">cancel</a></span></div>
  </div>

</div>

<div class='col-md-2'></div>

