// Google Fonts
@import url(//fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(//fonts.googleapis.com/css?family=Cabin);
@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);

$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';
@import 'backgrid';
@import 'backgrid-paginator';
@import 'backgrid-filter';

html, body {
    height: 100%;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#bridgely-app {
  min-height: 400px;
  height: auto;
  margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Dancing Script', Helvetica, sans-serif;
    color: rgba(44, 38, 60, 0.66) !important;
    text-shadow: 4px 4px 1px rgba(0,0,0,0.1),
                 1px -2px 10px rgba(0, 0, 107, 0.2),
                 2px 1px 4px rgba(17, 121, 83, 0.4) !important;
    font-size: 3.5em !important;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.btn {
    font-family: 'Gloria Hallelujah', sans-serif;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

#history-pills {
  margin-bottom: 10px !important;
}

footer {
  color: #eee;
  background:  rgb(65, 165, 255);
  height: 526px;
  padding-top: 20px;
  border: 0px none #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 17px 16px -15px inset;
  box-shadow: rgba(0, 0, 0, 0.65098) 0px 17px 16px -15px inset;
  text-align: center;
  width: 100%;
}

.backgrid-container {
  // Keep backgrid from scrolling
  min-height: 400px;
  height: 100%;
  // overflow: none !important;
}

.backgrid-paginator ul {
  padding: 0px;
}

.backgrid-filter .search {
  z-index: 999 !important;
}

.form-login {
}

.btn-questions {
  margin-right: 10px !important;
}
