$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

html, body {
    height: 100%;
    /*font-family: 'Cabin', Helvetica, Arial, sans-serif;*/
}

#bridgely-app {
  min-height: 300px;
  height: auto;
  margin-bottom: 20px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

#history-pills {
  margin-bottom: 10px !important;
}

footer {
  color: #eee;
  background:  rgb(65, 165, 255);
  height: 526px;
  padding-top: 20px;
  border: 0px none #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 17px 16px -15px inset;
  box-shadow: rgba(0, 0, 0, 0.65098) 0px 17px 16px -15px inset;
  text-align: center;
  width: 100%;
}

.backgrid-paginator ul {
  padding: 0px;
}

.form-login {
}

.btn-questions {
  margin-right: 10px !important;
}